body {
    background-color: lightblue;
}


.crystals{
	display: flex;
	justify-content: space-between;

	align-items: center;

}

.crystal{
	border:1px solid green;
	height:200px;
	width:200px;
	background-image: "url('" + (images[i]) + "')"
}

.images{
	background-size: cover;
	border-radius:4px;
}